#experience {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.experienceTitle {
  font-size: 3rem;
  font-family: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: lightblue;
}

.experienceDesc {
  font-weight: 400;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.experienceBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.experienceBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(60, 60, 60);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.experienceBar:hover {
  transform: scale(1.1);
  border: 1px solid lightblue;
}

.experienceBarText > p {
  font-size: 0.9rem;
  font-weight: 200;
}

@media screen and (max-width: 720px) {
  .experienceBarText > p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 720px) {
  .experienceBarText > p {
    font-size: 3vw;
  }

  .experienceBarText > h2 {
    font-size: 5vw;
  }

  .experienceBarText > h3 {
    font-size: 3vw;
  }
}
